<div class="admin-editable">
  <section class="workshop">
  <h1 class="title"><%= link_to workshop.title, workshop %></h1>
  <div class="info">
    <%= workshop.description %>
  </div>
  <% if current_user  %>
    <div class="actions">
      <%= edit_link workshop %>
      <%= destroy_link workshop %>
    </div>
  <% end %>
  </section>
</div>

