<div class="admin-editable">
  <h1 class="page-title">
    <%= @workshop.title %>
  </h1>
  <%= @workshop.description %>
  <% if current_user  %>
    <div class="actions">
      <%= edit_link @workshop %>
      <%= destroy_link @workshop %>
    </div>
  <% end %>
</div>