<%= simple_form_for(@page) do |f| %>
  <div class="field">
    <%= f.input :title %>
  </div>
  <div class="field">
    <%= f.cktext_area :body %>
  </div>
  <!-- <div class="field"> -->
  <!--   <%# f.input :visible %> -->
  <!-- </div> -->
  <div class="actions">
    <%= f.submit t(:save), class: :button %>
  </div>
<% end %>
