<h1 class="page-title"><%= t "testimonies.title" %> </h1>
<div class="testimonies-wrapper row">
    <%= render @testimonies %>
</div>

<br>
<br>

<%= link_to 'New Testimony', new_testimony_path, style: "clear=both" %>
