#submit-sort { display: none }
#sortable.sorting{
  cursor: move;
  .info, .actions { display: none }
  .admin-editable { padding: 0 1em }
  .title          { padding: 0; margin: .5em }
  #submit-sort    { display: block }
}
.admin {
  .actions {
    color: transparent;
    font-size: .6em;
    text-align: right;

    a { border: 0; }
  }

  .admin-editable {
    @include box-sizing(border-box);
    @include transition(border, .4s);
    border: 1px dashed transparent;
    border-radius: .2em;
    padding: 1em;

    &:hover {
      border: 1px dashed $dark-gray;

      .actions {
        color: $dark-gray;
      }
    }
  }
}
