//
// .media {
//   margin: 10px
// }
.media, .bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.media .img {
  float: left;
  margin-right:  1em;
  margin-top: 1.5em;
}

.media .img img {
  display: block
}

.media .imgExt {
  float: right;
  margin-left: 10px;
}
.tw-occu {font-size: .7em;}

.actions {
  color: transparent;
  font-size: .6em ;
  text-align: right;

  a { border: 0; }
}
.admin-editable {
  padding: 1em;
}
.admin-editable:hover .actions{
  color: $dark-gray;
}
// .media.twitter
//   p
//     margin-bottom: 2px
//   .tw-name
//     color: #504d53
//   .tw-occu
//     color: #797877
//   .tw-link
//     color: #f15a20
