//*********************************************************************************//
//* Nav                                                                           *//
//*********************************************************************************//

#nav {
  left: 0;
  overflow: hidden;
  padding: 1.5em 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav > ul {
  border-left: solid 1px rgba(192, 192, 192, .35);
  border-right: solid 1px rgba(192, 192, 192, .35);
  display: inline-block;
  height: 21px;
  line-height: 0;
  margin: 0;
  position: relative;
}

nav > ul:before,
nav > ul:after {
  border-bottom: solid 1px rgba(192, 192, 192, .35);
  border-top: solid 1px rgba(192, 192, 192, .35);
  content: '';
  display: block;
  height: 5px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 300%;
}

nav > ul:before {
  left: 100%;
  margin-left: 1px;
}

nav > ul:after {
  margin-right: 1px;
  right: 100%;
}

nav > ul > li {
  @include transition(color .35s ease-in-out, border-color .35s ease-in-out);
  border: solid 1px transparent;
  border-radius: .5em;
  display: inline-block;
  margin: -9px .5em 0;
  padding: .85em;
  text-transform: capitalize;
}

nav > ul > li.active {
  border-color: rgba(192, 192, 192, .35);
}

nav > ul > li > a,
nav > ul > li > span {
  border: 0;
  color: inherit;
  display: block;
  outline: 0;
  text-decoration: none;
}

nav > ul > li > ul { display: none; }

.dropotron {
  background: rgba(255, 255, 255, .975);
  border-radius: .5em;
  box-shadow: 0 .15em .25em 0 rgba(0, 0, 0, .25);
  height: auto;
  line-height: 1em;
  min-width: 12em;
  padding: 1em 1.25em;
  text-align: left;
}

.dropotron li {
  border-top: solid 1px rgba(128, 128, 128, .2);
  color: #5b5b5b;
}

.dropotron li:first-child {
  border-top: 0;
}

.dropotron li:hover {
  color: #ef8376;
}

.dropotron li a,
.dropotron li span {
  @include transition(color .35s ease-in-out);
  border: 0;
  display: block;
  padding: .5em 0;
}

.dropotron.level-0 {
  font-size: .9em;
  margin-top: 2em;
}

.dropotron.level-0:before {
  border-bottom: solid .75em rgba(255, 255, 255, .975);
  border-left: solid .75em rgba(64, 64, 64, 0);
  border-right: solid .75em rgba(64, 64, 64, 0);
  content: '';
  left: 50%;
  margin-left: -.75em;
  position: absolute;
  top: -.7em;
}

nav a:hover,
nav a:focus {
  outline: none;
}

.main-nav a::before,
.main-nav a::after {
  display: inline-block;
  opacity: 0;

  @include transition-property (transform, opacity);
  @include transition-duration(.3s, .2s);
}

.main-nav a::before {
  @include transform(translateX(20px));
  content: '[';
  margin-right: 10px;
}

.main-nav a::after {
  @include transform(translateX(-20px));
  content: ']';
  margin-left: 10px;
}

.main-nav a:hover::before,
.main-nav a:hover::after,
.main-nav a:focus::before,
.main-nav a:focus::after,
.main-nav .selected::after,
.main-nav .selected::before,
{
  @include transform(translateX(0));
  opacity: 1;
}

.main-nav .selected:hover::after { @include transform(translateX(-5px)); }
.main-nav .selected:hover::before { @include transform(translateX(5px)); }

.footer-nav{
  left: 0;
  overflow: hidden;
  padding: 1.5em 0;
  text-align: center;
  width: 100%;
  z-index: 1;
  font-size: .6em;
  & > ul > li { margin: -13px .5em 0;}
  ul { padding-left: 0; }
}

/* [class*='lang-link']{padding-left: 24px;} */
/* .lang-link-en { background: image-url('en.png')  } */
/* .lang-link-es { background: image-url('es.png')  } */

.flag {
  margin: 0 10px 3px 0;
  vertical-align: middle;
}

.selected:hover {
  color: $green;
}