//*********************************************************************************//
//* Nav                                                                           *//
//*********************************************************************************//

#nav {
  left: 0;
  overflow: hidden;
  padding: 1.5em 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav > ul {
  border-left: $light-border;
  border-right: $light-border;
  display: inline-block;
  height: 21px;
  line-height: 0;
  margin: 0;
  position: relative;
}

nav > ul:before,
nav > ul:after {
  border-bottom: $light-border;
  border-top: $light-border;
  content: '';
  display: block;
  height: 5px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 300%;
}

nav > ul:before {
  left: 100%;
  margin-left: 1px;
}

nav > ul:after {
  margin-right: 1px;
  right: 100%;
}

nav > ul > li {
  @include transition(color .35s ease-in-out, border-color .35s ease-in-out);
  border: solid 1px transparent;
  border-radius: .5em;
  display: inline-block;
  margin: -9px .5em 0;
  padding: .85em;
  text-transform: capitalize;
}

nav a {
  border: 0;
}

nav a:hover,
nav a:focus {
  outline: none;
}

.main-nav a::before,
.main-nav a::after {
  display: inline-block;
  opacity: 0;

  @include transition-property (transform, opacity);
  @include transition-duration(.3s, .2s);
}

.main-nav a::before {
  @include transform(translateX(20px));
  content: '[';
  margin-right: 10px;
}

.main-nav a::after {
  @include transform(translateX(-20px));
  content: ']';
  margin-left: 10px;
}

.main-nav a:hover::before,
.main-nav a:hover::after,
.main-nav a:focus::before,
.main-nav a:focus::after,
.main-nav .selected::after,
.main-nav .selected::before,
{
  @include transform(translateX(0));
  opacity: 1;
}

.main-nav .selected:hover::after { @include transform(translateX(-5px)); }
.main-nav .selected:hover::before { @include transform(translateX(5px)); }

.footer-nav {
  font-size: .6em;
  left: 0;
  overflow: hidden;
  padding: 1.5em 0;
  text-align: center;
  width: 100%;
  z-index: 1;

  & > ul > li { margin: -13px .5em 0;}

  ul { padding-left: 0; }
}

.flag {
  margin: 0 10px 3px 0;
  vertical-align: middle;
}

.selected:hover {
  color: $green;
}


//-------[Tooltips]---------------------------------
.tooltip {
  visibility: hidden;
}