// colors --------------------------------------
$white        : #f5f5f5;
$gray         : rgba(128, 128, 128, .2);
$medium-gray  : rgba(192, 192, 192, .35);
$dark-gray    : #5b5b5b;
$green        : #1ecd97;
$red          : #df7366;
$light-red    : #ef8376;
$light-shadow : rgba(0, 0, 0, .1);
$white-shadow : rgba(255,255,255,0.3);
// margins -------------------------------------
$layout-padding : 20px;
$layout-margin  : 10px;

$light-border: solid 1px $medium-gray;
