// colors --------------------------------------
$white     : whitesmoke;
$gray      : rgba(128, 128, 128, 0.2);
$dark-gray : #5b5b5b;

// margins -------------------------------------
$layoutPad : 20px;
$layoutMar : 10px;

