// colors --------------------------------------
$white     : #f5f5f5;
$gray      : rgba(128, 128, 128, .2);
$dark-gray : #5b5b5b;
$green     : #1ecd97;

// margins -------------------------------------
$layout-padding : 20px;
$layout-margin  : 10px;

