<nav class="footer-nav">
  <ul class="main-nav">
    <% I18n.available_locales.each do |locale| %>
      <li><%= link_to_unless_current image_tag("#{locale}.png", class: :flag) + locale.to_s, locale: locale %></li>
    <% end %>
  </ul>
</nav>
