<ul>
    <!-- <li><a href="<%= url_for :root %>"> home</a></li> -->

    <li><%= link_to "workshops", controller: "workshops" %></li>
    <li><%= link_to "testimonies", controller: "testimonies" %></li>
    <% if !@pages.empty? %>
        <% for page in @pages %>
        <li><%= link_to page.title, page_path(page) %></li>
        <% end %>
    <% else %>
        <h2>no pages</h2>
    <% end %>
    <li>contact</li>
</ul>
