<nav id="nav">
  <ul class="main-nav">
    <li><%= nav_link_to t(:'workshops.title'), controller: "workshops" %></li>
    <li><%= nav_link_to t(:'testimonies.title'), controller: "testimonies" %></li>
    <% @pages.each do |page| %>
      <li><%= nav_link_to page.title, page_path(page) %></li>
    <% end %>
    <li><%= nav_link_to 'contact', '#' %></li>
  </ul>
</nav>
